@model IEnumerable<SuperSecret.Models.Country>

@{
    ViewBag.Title = "Land";
}



<p class="text-uppercase bold-text">
    @Html.ActionLink("Opprett nytt land", "Create")
</p>

<div class="panel panel-default">


    <div class="panel-heading"><h2>@ViewBag.Title</h2></div>
    <table class="table table-striped table-bordered">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.ActionLink("Endre", "Edit", new { id = item.CountryId }) 
                    @*| @Html.ActionLink("Slett", "Delete", new { id = item.CountryId })*@
                </td>
            </tr>
        }

    </table>

</div>