<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Super Secret</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Super Secret", "Index", "Suspects", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Mistenkte", "Index", "Suspects")</li>
                        <li>@Html.ActionLink("Lovbrudd", "Index", "Crimes")</li>
                    }
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Type lovbrudd", "Index", "TypeOfCrimes")</li>
                        <li>@Html.ActionLink("Land", "Index", "Countries")</li>
                    }



                </ul>



                    @Html.Partial("_LoginPartial")
</div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Super Secret </p>
            <p class="text-muted">Eksamen .NET vår 2015 Student nr. 35142 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  
    @RenderSection("scripts", required: false)
</body>
</html>
