@model SuperSecret.Models.Suspect

@{
    ViewBag.Title = "Slett mistenkt";
}

<h2>@ViewBag.Title</h2>

<h3>Er du sikker på at du vil slette denne mistenkte?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        @if (Model.FilePaths.Any(p => p.Filetype == FileType.Photo))
        {

            <dt>
                Foto
            </dt>
            <dd>
                <img src="~/images/@Model.FilePaths.First(p => p.Filetype == FileType.Photo).FileName"class="img-thumbnail" alt="avatar" width="140" height="140" />

            </dd>

        }
        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> |
            @Html.ActionLink("Tilbake til liste over mistenkte", "Index")
        </div>
    }
</div>
